/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #0a192f;
  color: #fd8e8e;
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

main {
  padding: 60px 50px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/******************************************
/* LAYOUT
/*******************************************/

/* TOP BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 12;
  padding: 0 20px;
  font-family: "Roboto Mono", monospace;
  backdrop-filter: blur(10px);
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.menu li {
  padding: 0 10px;
}

li a {
  text-decoration: none;
  color: #fde58e;
  text-transform: lowercase;
}



/* FIRST SECTION - INTRO*/

.intro {
  margin-bottom: 100px;
  position: sticky;
}

.intro span {
  font-family: "Roboto Mono", monospace;
  text-transform: lowercase;
  color: #fde58e;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 50px;
  margin: 20px 0 0 0;
}

.intro h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #fd8e8eb7;
  margin: 5px 0 30px 0;
}

.intro p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fd8e8eb7;
}

.intro button {
  margin-top: 20px 0 100px 0;
  color: #fde58e;
  background-color: transparent;
  font-family: "Roboto Mono", monospace;
  text-transform: lowercase;
  border: 1px solid #fde58e;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.intro a {
  color: #fde58e;
}

.intro button:hover {
  background-color: #18273d;
}

/* PICTURE SECTION*/

.profile-image {
  background-color:#fde58e ;
  position: sticky;
  top: 0;
  margin: 0 -500%;
  padding: 0px 500%
  }
  
  .profile-image img {
  opacity: 0.7;
  top: 0;
  margin: 0px -10%;
  padding: 0px -10%;
  object-fit: cover;
  
  }

/* SECOND SECTION - ABOUT */

.about {
  margin-top: 200px;
  background-color: #fd8e8e;
  position: sticky;
  top: 0;
  margin: 0 -500%;
  padding: 40px 500%;
}

.about h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #0a192f;
  margin: 5px 0 30px 0;
}

.about h4 {
  font-family: "Roboto Mono", monospace;
  color: #fde58e;
  text-transform: lowercase;
  margin: 30px 0 0 0;
}

.about p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #18273d;
}

#smallerText {
  font-size: 15px;
}

/* THIRD SECTION - EXPERIENCE */

.experience {
  margin-top: 200px;
  background-color: #0a192f;
  position: sticky;
  top: 0;
  margin: 0 -500%;
  padding: 40px 500%;
}

.experience h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #fd8e8e;
  margin: 5px 0 30px 0;
}

.experience p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fd8e8e;
}

/* FOURTH SECTION - PORTFOLIO */

.portfolio {
  margin-top: 200px;
  background-color:#fde58e;
  position: sticky;
  top: 0;
  margin: 0 -500%;
  padding: 40px 500%;
}

.portfolio h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color:#18273d;
  margin: 5px 0 30px 0;
}

.portfolio h4 {
  font-family: "Roboto Mono", monospace;
  color:#fd8e8e;
  text-transform: lowercase;
  margin: 30px 0 0 0;
}

.portfolio p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #18273d;
}

#smallerText {
  font-size: 15px;
}

/* FITH SECTION - CONTACT */

.contact-page {
  margin-top: 200px;
  background-color: #0a192f;
  position: sticky;
  top: 0;
  margin: 0 -500%;
  padding: 40px 500%;
}

.contact-page h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #fd8e8e;
  margin: 5px 0 30px 0;
}

.contact-page p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fd8e8e;
}

/* CONTACT FORM */


#contact { 

  margin: 40px;
  color: #fde58e;
  background-color: transparent;
  font-family: "Roboto Mono", monospace;
  text-transform: lowercase;
  border: 1px solid #fde58e;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#contact:hover { 
  background:#18273d;
  cursor: pointer;
}

#contact:active { 
  background: #18273d; 
}

#contactForm { 
  display: none;
  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { 
  height: 80px; resize: none; 
}

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
