/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: #0a192f;
  color: #fd8e8e;
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

main {
  padding: 60px 50px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/******************************************
/* LAYOUT
/*******************************************/

/* TOP BAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 12;
  padding: 0 20px;
  font-family: "Roboto Mono", monospace;
  backdrop-filter: blur(10px);
}

.menu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.menu li {
  padding: 0 10px;
}

li a {
  text-decoration: none;
  color: #fde58e;
  text-transform: lowercase;
}

/* FIRST SECTION - INTRO*/

.intro {
  margin-bottom: 100px;
}

.intro span {
  font-family: "Roboto Mono", monospace;
  text-transform: lowercase;
  color: #fde58e;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 50px;
  margin: 20px 0 0 0;
}

.intro h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #fd8e8eb7;
  margin: 5px 0 30px 0;
}

.intro p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #fd8e8eb7;
}

.intro button {
  margin-top: 20px 0 100px 0;
  color: #fde58e;
  background-color: transparent;
  font-family: "Roboto Mono", monospace;
  text-transform: lowercase;
  border: 1px solid #fde58e;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.intro a {
  color: #fde58e;
}

.intro button:hover {
  background-color: #18273d;
}

/* SECOND SECTION - ABOUT */

.about {
  margin-top: 200px;
  background-color: #fd8e8e;

  position: sticky;
  top: 0;
  margin: 0 -500%;
  padding: 40px 500%;
}

.about h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #0a192f;
  margin: 5px 0 30px 0;
}

.about h4 {
  font-family: "Roboto Mono", monospace;
  color: #fde58e;
  text-transform: lowercase;
  margin: 30px 0 0 0;
}

.about p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #18273d;
}

#smallerText {
  font-size: 15px;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
